<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div>  
    <div class="tw-float-left tw-mt-24-px tw-font-semibold tw-mr-4"> Search by Title or Author:   </div>
    <div class="search-button">
      <mat-icon class="tw-mt-16-px" aria-label="Search Icon">search</mat-icon>
      <input
        [formControl]="bookSearch"
        name="searchKey"
        #search
        type="text"
        placeholder="Search Books"
        class="tw-border-0 tw-bg-inherit"
        (keyup.enter)="Getvalue(search.value)" >    
    </div>    
  </div>
</div>
<div *ngIf="query!=''">
  <front-end-internship-assignment-display-books  [queryValue]="query" ></front-end-internship-assignment-display-books>
</div> 

